trigger:
  - master

variables:
  # Azure Service Connection Name (Create this in Azure DevOps Project Settings)
  azureSubscription: 'azure-connection-portfolio'
  
  # Web App Name (Will be filled after Terraform runs or manually set)
  # Ideally, this comes from a variable group or Terraform output
  webAppName: 'julio-portfolio'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)

    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm run build
      displayName: 'npm install and build'

    - task: ArchiveFiles@2
      displayName: 'Archive files'
      inputs:
        rootFolderOrFile: 'dist' # For Vite, the build output is 'dist'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: Deploy
    environment: 'production'
    pool:
      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Azure Web App Deploy'
            inputs:
              azureSubscription: $(azureSubscription)
              appType: 'webAppLinux'
              appName: $(webAppName)
              package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'
              # Vite apps are static, but on Linux App Service using Node, 
              # we just serve the static files via PM2 or a simple server.
              # Since we built a static site, we need a way to serve it.
              # Option 1: Use 'pm2 serve' in startup command (configured in Terraform)
              # Option 2: Azure Static Web Apps (better, but user asked for App Service)
              startUpCommand: 'pm2 serve /home/site/wwwroot --no-daemon --spa'
